<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRAMAJO</title>
    <link rel="stylesheet" href="..s/index.css">
</head>
<body>

    <header>
        <h1>BRAMAJO</h1>

        <nav>
            <a href="index.html">Inicio</a>
            <a href="torneos.html">Torneos</a>
            <a href="login.html">Login</a>
            <a href="perfil.html">Perfil</a>
        </nav>
    </header>

    <main>

        <section class="gestion">
            <h2>Gestioná torneos de forma simple</h2>
            <p>
                Organizá competencias deportivas, mentales y electrónicas
                desde una única plataforma.
            </p>

            <a href="torneos.html" class="btn">
                Ver Torneos
            </a>
        </section>

    <footer>
        <p>BRAMAJO - Sistema de Gestión de Torneos</p>
    </footer>

</body>
</html>