<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

     <link rel="stylesheet" href="registro.css">

    <link rel="stylesheet" href="views/registro/registro.css">

    <link rel="stylesheet" href="registro.css">

    <link rel="stylesheet" href="../../../apps/templates/base.css" />

</head>
<body>
    <header class="header">
        <img class="header__logo" src="../../assets/bramajo-logo.png" alt="bramajo logo">
        <nav class="header__nav">
            <a class="nav__link" href="../index/index.html">Inicio</a>
            <a class="nav__link" href="../registro-participante/registro.html">Registrarse</a>
            <a class="nav__link" href="../torneos/torneos.html">Torneos</a>
            <a class="nav__link" href="../perfil/perfil.html">Perfil</a>
            <a class="nav__link" href="../torneos/crearTorneo.html">Crear torneo</a>
        </nav>
    </header>
</body>

        <main>
            <h1>REGISTRARSE</h1>

            <section id="presentacion">
                <h2>Crea tu cuenta y accede a todos los torneos, competencias y eventos</h2>
                <p1>Solo deberas ingresar tu nombre, correo y contraseña.
                </p1>
            </section>

            <section id="formulario">
                <h2>Crear Cuenta</h2>

                <form>
                    <label>Nombre:</label>
                    <input type="text" placeholder="Ej: Juan Pérez">

                    <label>Correo Electrónico:</label>
                    <input type="email" placeholder="Ej: juan@ejemplo.com">

                    <label>Contraseña:</label>
                    <input type="password" placeholder=" ">


                <button>Crear Cuenta</button>
                <h3>¿Ya tienes una cuenta? <a id="iniciarSesion" href="login.html">Inicia sesión</a></h3>
                </form>
            </section>

        </main>
</html>


