<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <link rel="stylesheet" href="crearTorneo.css">

    <link rel="stylesheet" href="views/creartorneo/crearTorneo.css">

    <link rel="stylesheet" href="crearTorneo.css">

    <link rel="stylesheet" href="../../../apps/templates/base.css" />

</head>
<body>
    <header class="header">
        <img class="header__logo" src="../../assets/bramajo-logo.png" alt="bramajo logo">
        <nav class="header__nav">
            <a class="nav__link" href="../index/index.html">Inicio</a>
            <a class="nav__link" href="../registro-participante/registro.html">Registrarse</a>
            <a class="nav__link" href="../torneos/torneos.html">Torneos</a>
            <a class="nav__link" href="../torneos/crearTorneo.html">Crear torneo</a>
            <a class="nav__link" href="../perfil/perfil.html">Perfil</a>
        </nav>
    </header>
</body>

        <main>
            <h1>CREA TU TORNEO</h1>
            <p>Crea y administra tus competiciones con BRAMAJO</p>

            <section id="presentacion">
                <h2>Crea tu torneo fácilmente</h2>
                <p1>Organiza competencias deportivas, eSports o cualquier evento.
                Completa el formulario y comienza a gestionar participantes.
                </p1>
            </section>

            <section id="formulario">
                <h2>Crear Torneo</h2>

                <form>
                    <label>Nombre del Torneo:</label>
                    <input type="text" placeholder="Ej: Copa Verano">

                    <label>Deporte:</label>
                    <input type="text" placeholder="Ej: Fútbol">

                    <label>Fecha:</label>
                    <input type="date">

                    <label>Cantidad de Equipos:</label>
                    <input type="number" min="2">


                <button>Crear Torneo</button>
                </form>
            </section>

        </main>
</html>


