<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="crearTorneo.css">

<header>
    <body>
        <nav>
            <img src="img/isotipo.png" alt="Logo BRAMAJO">
            <a href="index.html">Inicio</a>
            <a href="torneos.html">Torneos</a>
            <a href="crear-torneo.html">Crear Torneo</a>
            <a href="perfil.html">Perfil</a>
        
        </nav>
</header>
        <main>
            <h1>CREA TU TORNEO</h1>
            <p>Crea y administra tus competiciones con BRAMAJO</p>

            <section id="presentacion">
                <h2>Crea tu torneo fácilmente</h2>
                <p>Organiza competencias deportivas, eSports o cualquier evento.
                Completa el formulario y comienza a gestionar participantes.
                </p>
            </section>

            <section id="formulario">
                <h2>Crear Torneo</h2>

                <form>
                    <label>Nombre del Torneo:</label>
                    <input type="text" placeholder="Ej: Copa Verano">

                    <label>Deporte:</label>
                    <input type="text" placeholder="Ej: Fútbol">

                    <label>Fecha:</label>
                    <input type="date">

                    <label>Cantidad de Equipos:</label>
                    <input type="number" min="2">


                <button>Crear Torneo</button>
                </form>
            </section>

        </main>
    </body>
</html>