<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BRAMAJO</title>
		<link rel="stylesheet" href="index.css" />
		<link rel="stylesheet" href="../base/base.css" />
	</head>
	<body>
		<header class="header">
    <img class="header__logo" src="../../assets/bramajo-logo.png" alt="bramajo logo">
    <nav class="header__nav">
        <a class="nav__link" href="../publico/index.html">Inicio</a>
        <a class="nav__link" href="../organizador/login.html">Iniciar Sesion</a>
        <a class="nav__link" href="../publico/torneos.html">Torneos</a>
        <a class="nav__link" href="../organizador/crearTorneo.html">Crear torneo</a>
        <a class="nav__link" href="../participante/perfil.html">Perfil</a>
    </nav>
</header>

		<main>
			<section class="gestion">
				<h2 class="gestion_titulo">Gestiona torneos de forma simple</h2>
				<p class="gestion_desc">
					Organiza competencias deportivas, mentales y electrónicas desde una única
					plataforma.
				</p>
				<nav class="gestion__nav">
					<a class="link_gestion" href="torneos.html">Ver Torneos</a>
					<a class="link_gestion" href="participantes.html">Participantes</a>
				</nav>
			</section>
		</main>
		<footer>
			<p>BRAMAJO - Sistema de Gestión de Torneos</p>
		</footer>
	</body>
</html>
