@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

/* =========================
   REGLA GENERAL
   ========================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   CUERPO
   ========================= */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Cinzel", serif;
    background: linear-gradient(
        rgb(0, 0, 168),
        black,
        rgb(0, 0, 168),
        black
    );
    background-size: 400% 400%;
    animation: move 5s alternate infinite;
}


/* =========================
   ANIMACIÓN DEL FONDO
   ========================= */

@keyframes move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0;
    }
}


/* =========================
   MOBILE FIRST
   ========================= */

/* HEADER */

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
}

.header__logo {
    width: 70px;
}


/* NAVEGACIÓN */

.header__nav {
    position: absolute;
    
    left: 0;
    top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
 

    width: 200px ;
    height: 100vh;

    
     gap: 50px;
     border: 1px solid rgb(53, 36, 126);
    padding: 150px 30px 30px 30px;
     box-sizing: border-box;
    }

 main {
    margin-left: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

 }
h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

p {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
}
/* BOTONN */
button {
    margin-top: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
}

/* ENLACES */

.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    color: white;
    font-size: 0.65rem;
    text-decoration: none;
    border-radius: 3px;
}

.perfil{ 
    position: absolute;
    right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


/* ICONOS */

.nav__link svg {
    width: 17px;
    height: 17px;
}


/* EFECTO HOVER */

.nav__link:hover {
    border-bottom: 3px solid white;
    font-weight: bold;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
footer {
    margin-top: auto;
    padding: 15px 10px;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}



/* =========================
   TABLET Y PC
   ========================= */

@media screen and (min-width: 769px) {

    /* HEADER */

    .header {
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .header__logo {
        width: 50px;
    }


    /* NAVEGACIÓN */

    .header__nav {
        gap: 50px;
    }


    /* ENLACES */

    .nav__link {
        padding: 5px 10px;
        font-size: 0.8rem;
    }


    /* ICONOS */

    .nav__link svg {
        width: 20px;
        height: 20px;
    }
       /* FOOTER */
    footer {
        padding: 25px;
        font-size: 1.2rem;
    }


}