@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

/* =========================
   REGLA GENERAL
   ========================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   CUERPO
   ========================= */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Cinzel", serif;
    background: linear-gradient(
        rgb(0, 0, 168),
        black,
        rgb(0, 0, 168),
        black
    );
    background-size: 400% 400%;
    animation: move 5s alternate infinite;
}


/* =========================
   ANIMACIÓN DEL FONDO
   ========================= */

@keyframes move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0;
    }
}


/* =========================
   MOBILE FIRST
   ========================= */

/* HEADER */

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
    
}

.header__logo {
    width: 70px;
}


/* NAVEGACIÓN */

.header__nav {
    position: absolute;
    
    left: 0;
    top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
 

    width: 200px ;
    height: 100vh;

    
     gap: 50px;
     border: 1px solid rgb(53, 36, 126);
    padding: 150px 30px 30px 30px;
     box-sizing: border-box;
    }
 /*MAIN */

 main {
    margin-left: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

 }
h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 30px;
}

p {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 20px;
}

/* CARDS */

.cards {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
   

}
.card:hover {
    transform: scale(1.02);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.card {
    height: 170px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: rgba(0, 0, 80, 0.7);
    color: white;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
     transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);


}
.contenido-card {
    padding: 20px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
 
}

.contenido-card h2 {
    margin: 0 0 30px 0;
   
}

.contenido-card p {
    margin: 0 0 15px 0;
    color: #c9c6c6;
}

/*IMAGENES*/

.card img {
    width: 40%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;


}

/* BOTONESS*/
.btn-torneo {
    margin-top: 30px;
    padding: 17px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    background: rgba(0, 0, 80, 0.7);
    color: rgb(224, 222, 227);
    font-family: "Cinzel", serif;
    font-size: 17px;
}

.btn-torneo:hover {
    background: rgba(0, 0, 80, 0.9);
    color: white;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-torneo:active {
    background: rgba(0, 0, 80, 1);
    color: white;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-registro {
    margin-top: 30px;
    padding: 7px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    background: rgba(0, 0, 80, 0.7);
    color: rgb(224, 222, 227);
    font-family: "Cinzel", serif;
    font-size: 13px;
}
.btn-registro:hover{
    background: rgba(0, 0, 80, 0.9);
    color: white;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-registro:active{
    background: rgba(0, 0, 80, 1);
    color: white;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

/* ENLACES */

.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    color: white;
    font-size: 0.65rem;
    text-decoration: none;
    border-radius: 3px;
}

 .nav_volver{
    font-size: 20px;
 }
   
  

.perfil{ 
    position: absolute;
    right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


/* ICONOS */

.nav__link svg {
    width: 17px;
    height: 17px;
}





footer {
    margin-top: auto;
    padding: 15px 10px;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    margin-left: auto;
}



/* =========================
   TABLET Y PC
   ========================= */

@media screen and (min-width: 769px) {

    /* HEADER */

    .header {
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .header__logo {
        width: 50px;
    }


    /* NAVEGACIÓN */

    .header__nav {
        gap: 50px;
    }

   

    /* BOTONESS */

.btn-torneo {
    margin-top: 25px;
    padding: 17px 30px;
    background: rgba(52, 122, 252, 0.7);
    
}

.btn-torneo:hover {
    background: rgba(0, 0, 80, 0.9);
    color: white;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-torneo:active {
    background: rgba(0, 0, 80, 1);    
    
}

.btn-registro{
    margin-top: 25px;
    padding: 7px 20px;
    background: rgba(52, 122, 252, 0.7);
    font-size: 13px;
}

.btn-registro:hover{
    background: rgba(0, 0, 80, 0.9);
}

.btn-registro:active{
    background: rgba(0, 0, 80, 1); 
}
    /* ICONOS */

    .nav__link svg {
        width: 20px;
        height: 20px;
    }
       /* FOOTER */
    footer {
        padding: 25px;
        font-size: 1.2rem;
    }


}