<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="prueba.css">
</head>
<body>
    <section class="grid">
        <section class="container">
            <div class="box">
                <h1>Hola mundo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </section>
        <section class="container">
            <div class="box">
                <h1>Hola Mundo</h1>
                <div class="circulo">
                <img class="mono" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSSp-kPCY_gN-jaKhWKRJW-VAK8AgkaqrKb93bD_4ipGeO8AUSFTkMrSUJ8BcEcyAe-PkC2BKmTzCsrmPOBsxO8wA7E320N-JeMncrcDmur577Zh885Dsa8WcEctJeUlig&s=10&ec=121902070" alt="mono">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </section>
        <section class="container">
            <div class="box">
                <h1>Hola mundo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </section>
    </section>

</body>
</html>