@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

/* REGLA GENERAL */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUERPO */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Cinzel", serif;
    background: linear-gradient(
        rgb(0, 0, 168),
        black,
        rgb(0, 0, 168),
        black
    );
    background-size: 400% 400%;
    animation: move 5s alternate infinite;
}

/* ANIMACIÓN DEL FONDO */
@keyframes move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0;
    }
}

/* ICONOS */
svg {
    width: 17px;
    height: 17px;
}

/* =========================
   MOBILE FIRST
   ========================= */

/* HEADER */
.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
}

.header__logo {
    width: 70px;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ENLACES DEL HEADER */
.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    color: white;
    font-size: 0.65rem;
    text-decoration: none;
    border-radius: 3px;
}

.nav__link:hover {
    border-bottom: 3px solid white;
    font-weight: bold;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

/* CONTENIDO PRINCIPAL */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    gap: 1rem;
}

/* TÍTULO */
.gestion_titulo {
    color: white;
    font-size: 2rem;
    font-family: "Cinzel", serif;
}

/* DESCRIPCIÓN */
.gestion_desc {
    color: #e7e7e7;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: "Cinzel", serif;
}

/* TÍTULOS Y PÁRRAFOS */
h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

/* SECCIONES */
section {
    background: linear-gradient(
        rgb(241, 238, 238),
        rgb(201, 194, 194)
    );
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px gray;
    flex-direction: column;
}

section h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #1e3a8a;
}

/* TORNEOS */
.torneos {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px; 
    background: transparent;
}

/* ARTÍCULOS */
article {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

article h3 {
    margin-bottom: 10px;
}

article p {
    margin: 6px 0;
}

/* BOTONES */
button {
    width: 100%;
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
&:hover {
    padding: 12px;
    background: #1d4ed8;
}
}

/* FOOTER */
footer {
    margin-top: auto;
    padding: 15px 10px;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}


/* =========================
   TABLET Y PC
   ========================= */

@media screen and (min-width: 769px) {

    /* HEADER */
    .header {
        height: 50px;
        flex-direction: row;
        padding: 0;
        gap: 0;
    }

    .header__logo {
        width: 50px;
    }

    .header__nav {
        gap: 10px;
    }

    /* ENLACES DEL HEADER */
    .nav__link {
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    .nav__link svg {
        width: 20px;
        height: 20px;
    }

    /* CONTENIDO PRINCIPAL */
    main {
        padding: 30px;
    }

    /* TÍTULO */
    .gestion_titulo {
        font-size: 3rem;
    }

    /* DESCRIPCIÓN */
    .gestion_desc {
        font-size: 1.5rem;
        line-height: normal;
    }

    /* TÍTULOS Y PÁRRAFOS */
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 10px;
    }

    /* SECCIONES */
    section {
        width: 100%;
        padding: 30px 20px;
    }

    section h2 {
        font-size: 20px;
    }

    /* TORNEOS */
    .torneos {
        grid-template-columns: repeat(3, 1fr);
    }

    /* ARTÍCULOS */
    article {
        width: auto;
        padding: 15px;
    }

    article h3 {
        font-size: 15px;
    }

    article p {
        font-size: 10px;
    }

    /* BOTONES */
    button {
        width: auto;
        padding: 7px 15px;
        font-size: 14px;
    }

    button:hover {
        padding: 10px 30px;
    }

    /* FOOTER */
    footer {
        padding: 25px;
        font-size: 1.2rem;
    }
}