<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inicio</title>
		<link rel="stylesheet" href="somos.css" />
	</head>
	<body>
		<header class="header">

        <img class="header__logo" src="../../assets/bramajo-logo.png" alt="bramajo logo" />
         <nav class="header__nav">
        <a class="nav__link" href="../publico/index.php">
                      Portada
                  </a>
        <a class="nav__link" href="../index/somos.html">
                      Quienes somos
                  </a>
        <a class="nav__link" href="../index/contenido.html">
                      Contenido
                  </a>
        <a class="nav__link" href="../index/contacto.html">
                        Contacto
                  </a>
        </nav>
    </header>
    <footer>
        <p1>BRAMAJO - Sistema de Gestión de Torneos</p1>
    </footer>	</body>
</html>
