<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../base/base.css" />
    <link rel="stylesheet" href="registro.css" />
</head>

<body>
    <header class="header">
    <img class="header__logo" src="../../assets/bramajo-logo.png" alt="bramajo logo">
    <nav class="header__nav">
        <a class="nav__link" href="../publico/index.html">Inicio</a>
        <a class="nav__link" href="../organizador/login.html">Iniciar Sesion</a>
        <a class="nav__link" href="../publico/torneos.html">Torneos</a>
        <a class="nav__link" href="../organizador/crearTorneo.html">Crear torneo</a>
        <a class="nav__link" href="../participante/perfil.html">Perfil</a>
    </nav>
</header>
    <main>
        <h1>REGISTRARSE</h1>

        <section id="presentacion">
            <h2>Crea tu cuenta y accede a todos los torneos, competencias y eventos</h2>
            <p1>Solo deberas ingresar tu nombre, correo y contraseña.
            </p1>
        </section>

        <section id="formulario">
            <h2>Crear Cuenta</h2>

            <form>
                <label>Nombre:</label>
                <input type="text" placeholder="Ej: Juan Pérez">

                <label>Correo Electrónico:</label>
                <input type="email" placeholder="Ej: juan@ejemplo.com">

                <label>Contraseña:</label>
                <input type="password" placeholder=" ">


                
                <h3>¿Ya tienes una cuenta? <a id="iniciarSesion" href="login.php">Inicia sesión</a></h3>
            </form>
        </section>
<button>Crear Cuenta</button>
    </main>
</body>

</html>