@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

img{
    width: 100px;
    height: auto;
    display: block;
}

body{
    color:#333;
}

h1,p{
    color:#ffffff;
    font-size: 20px;
    margin:20px;
    text-align:center;
}
p1{
    font-size: 15px;
    margin:20px;
    text-align:center;
}

main{
    width:80%;
    margin:30px auto;
    font-family:Arial,sans-serif;
}

section{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow:0 2px 5px gray;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-top:10px;
    font-size: 15px;
}

input{
    padding:8px;
    margin-top:5px;
    font-size: 13px;
}

#iniciarSesion{
    color: blue;
text-decoration: underline;
}

button{
    margin-top:20px;
    padding:10px;
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
     background:#1d4ed8;
}
@media screen and (max-width: 768px) {

    .main {
        padding: 10px;
        font-size: 14px;
    }

    h1{
        font-size: 28px;
        margin: 15px;
    }

    p{
        font-size: 16px;
        margin: 10px;
    }

    main{
        width: 95%;
        margin: 20px auto;
    }

    section{
        padding: 15px;
    }

    input,
    button{
        width: 100%;
        font-size: 16px;
    }

    button{
        padding: 12px;
    }


}