<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Registro</title>
		<link rel="stylesheet" href="../base/base.css" />
		<link rel="stylesheet" href="registro.css" />
	</head>

	<body>
		 <header class="header">
        <img class="header__logo" src="../../assets/bramajo-logo.png" alt="bramajo logo" />
        
        <input type="checkbox" name="nav" id="nav_check">

        <!-- nav hamburguesa -->
        <div class="ham_cnt">
            <svg id="nav_ham" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </div>

        <nav class="header__nav">

            <a class="nav__link" href="../publico/index.html">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
                Inicio
            </a>

            <a class="nav__link" href="../organizador/login.html">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                Iniciar Sesion
            </a>

            <a class="nav__link" href="torneos.html">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621.504-1.125 1.125-1.125H20.625Z" />
                </svg>
                Torneos
            </a>

            <a class="nav__link" href="../organizador/crearTorneo.html">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516" />
                </svg>
                Crear torneo
            </a>

            <a class="nav__link" href="../participante/perfil.html">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                Perfil
            </a>

        </nav>
    </header>
		<main>
			<h1>REGISTRARSE</h1>

			<section class="presentacion">
				<h2>Crea tu cuenta y accede a todos los torneos, competencias y eventos</h2>
				<p1>Solo deberas ingresar tu nombre, correo y contraseña. </p1>
			</section>

			<section class="formulario">
				<h2>Crear Cuenta</h2>

				<form>
					<label>Nombre:</label>
					<input type="text" placeholder="Ej: Juan Pérez" />

					<label>Correo Electrónico:</label>
					<input type="email" placeholder="Ej: juan@ejemplo.com" />

					<label>Contraseña:</label>
					<input type="password" placeholder=" " />

					<h3>
						¿Ya tienes una cuenta?
						<a id="iniciarSesion" href="login.htmlgit">Inicia sesión</a>
					</h3>
				</form>
			</section>
			<button>Crear Cuenta</button>
		</main>
		<footer>
			<p>BRAMAJO - Sistema de Gestión de Torneos</p>
		</footer>
	</body>
</html>
