<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participantes</title>
    <link rel="stylesheet" href="participantes.css">
</head>
<body>
<header class="header">
    <img class="header__logo" src="../../assets/bramajo-logo.png" alt="bramajo logo">
    <nav class="header__nav">
        <a class="nav__link" href="../publico/index.html">Inicio</a>
        <a class="nav__link" href="../organizador/login.html">Iniciar Sesion</a>
        <a class="nav__link" href="../publico/torneos.html">Torneos</a>
        <a class="nav__link" href="../organizador/crearTorneo.html">Crear torneo</a>
        <a class="nav__link" href="../participante/perfil.html">Perfil</a>
    </nav>
</header>
</body>
</html>